---
import { Image } from "astro:assets";

import fbIcon from "../images/facebook.png";

interface Props {
    name?: string;
    fblink?: string;
    email?: string;
}

const { name, fblink, email } = Astro.props;
---

<div class="mb-8">
    <p class="text-center font-semibold text-2xl rounded-lg bg-red-900 p-2">
        {name}
    </p>
    <p class="text-center">
        <a href={fblink} target="_BLANK">
            <Image
                src={fbIcon}
                alt="Facebook"
                class="inline-block w-8 pt-1 mx-1 opacity-75 hover:opacity-100"
            />
        </a>
        {
            email && (
                <a
                    href={`mailto:${email}?subject=Hot Rails: Kontakt`}
                    aria-label={`Skicka mail till ${name}!`}
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="inline-block w-10 pt-1 mx-1 opacity-75 hover:opacity-100 text-orange-300"
                    >
                        <path
                            stroke-linecap="round"
                            d="M16.5 12a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 10-2.636 6.364M16.5 12V8.25"
                        />
                    </svg>
                </a>
            )
        }
    </p>
</div>
